.list-selection-view {
	-fx-padding: 10px;	
}

.list-selection-view > .grid-pane {
	-fx-vgap: 10px;
	-fx-hgap: 10px;
}

.list-selection-view > .grid-pane > .list-header-label {
	-fx-font-size: 1.0em;
	-fx-font-weight: bold;
}