/* Remove extraneous borders from PropertySheet */

.property-sheet .scroll-pane .property-pane {
    -fx-background-color: -fx-background;
}

.property-sheet .scroll-pane {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.property-sheet .scroll-pane .accordion {
    -fx-padding: -1;
}
