.world-map {
    -fx-background-color: #0b99c9;
}

.country {
    -fx-fill: lightgreen;
    -fx-stroke: green;
}

.country:hover {
    -fx-fill: green;
    -fx-stroke: green;
}

.country:pressed {
    -fx-fill: darkgreen;
    -fx-stroke: green;
}

.country:selected {
    -fx-fill: red;
}

.country:selected:hover {
    -fx-fill: orangered;
}

.country:selected:pressed {
    -fx-fill: darkred;
}

.location {
    -fx-fill: orange;
    -fx-stroke: black;
}

.location:hover {
    -fx-fill: darkorange;
    -fx-stroke: black;
}