.error {
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.warning {
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}

.info {
    -fx-effect: dropshadow(three-pass-box, skyblue, 14, 0, 0, 0);
}