/******************************************************************************
 * 
 * Light theme
 * 
 *****************************************************************************/

.notification-pane .notification-bar {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 0 0, 0 0 1 0, 0 0 2 0;
    -fx-padding: 0 7 0 7;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 3, 3);
}

.notification-pane .notification-bar .label {
    -fx-font-size: 1.166667em; /*15px;*/
    -fx-text-fill: #292929;
}


/******************************************************************************
 * 
 * Dark theme
 * 
 *****************************************************************************/

.notification-pane.dark .notification-bar {
    -fx-background-color: linear-gradient(#595959, #474747 37%, #343434);
}

.notification-pane.dark .notification-bar .label {
    -fx-text-fill: #ebebeb;
}


/******************************************************************************
 * 
 * Drop shadow support
 * 
 *****************************************************************************/

/* NotificationPane shows from the top, so put shadow at bottom of bar */
.notification-pane:top .notification-bar {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 0, 3);
}

/* NotificationPane shows from the bottom, so put shadow at top of bar */
.notification-pane:bottom .notification-bar {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 0, -3);
}




/******************************************************************************
 * 
 * Close button
 * 
 *****************************************************************************/
.notification-pane .notification-bar .close-button {
    -fx-background-color: transparent transparent;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-pane .notification-bar .close-button:hover {
    -fx-background-color: linear-gradient(#505050,#2d2d2d),
                          linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-pane .notification-bar .close-button:pressed {
    -fx-background-color: linear-gradient(#515151,#202020),
                          linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-pane .notification-bar .close-button > .graphic {
    -fx-background-color: #949494;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-pane .notification-bar .close-button:hover > .graphic {
    -fx-background-color: #fefeff;
}

.notification-pane .notification-bar .close-button:pressed > .graphic {
    -fx-background-color: #cfcfcf;
}

.notification-pane .notification-bar .close-button > .graphic {
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}