.cell-spreadsheet .table-row-cell {
    -fx-background-color: transparent;
}

/* CELLULE ROW HEADER */
SpreadsheetCell.col_header:filled:selected ,
SpreadsheetCell.col_header:filled:focused:selected,
SpreadsheetCell.col_header:filled:focused:selected:hover {
    -fx-background-color: rgb(128,64,0);
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-selection-bar-text;
}
SpreadsheetCell.col_header:hover,
SpreadsheetCell.col_header:filled:focused {
    -fx-background-color: rgb(255,128,64);
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

SpreadsheetCell.col_header,
SpreadsheetCell.col_header .combo-box *{
    -fx-background-color:-fx-table-cell-border-color,rgb(255,128,0) ;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
}

/* CELL COLUMN HEADER */
SpreadsheetCell.row_header:filled:selected ,
SpreadsheetCell.row_header:filled:focused:selected,
SpreadsheetCell.row_header:filled:focused:selected:hover {
    -fx-background-color: red;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-selection-bar-text;
}
SpreadsheetCell.row_header:hover,
SpreadsheetCell.row_header:filled:focused {
    -fx-background-color: #ff6666;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

SpreadsheetCell.row_header,
SpreadsheetCell.row_header .combo-box *{
    -fx-background-color: -fx-table-cell-border-color, #ffcccc;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
}

/* CELL EVERY 5 ROW */
SpreadsheetCell.five_rows:filled:selected ,
SpreadsheetCell.five_rows:filled:focused:selected,
SpreadsheetCell.five_rows:filled:focused:selected:hover {
    -fx-background-color: darkgreen ;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-selection-bar-text;
}
SpreadsheetCell.five_rows:hover,
SpreadsheetCell.five_rows:filled:focused {
    -fx-background-color: green;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

SpreadsheetCell.five_rows,
SpreadsheetCell.five_rows .combo-box *{
    -fx-background-color: -fx-table-cell-border-color, lightgreen;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
}

/* NORMAL CELL */
SpreadsheetCell:filled:selected,
SpreadsheetCell:filled:focused:selected,
SpreadsheetCell:filled:focused:selected:hover {
    -fx-background-color: blue;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-border-color: black;
}
SpreadsheetCell:hover,
SpreadsheetCell:filled:focused {
    -fx-background-color: #6666ff;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

SpreadsheetCell,
SpreadsheetCell .combo-box *{
    -fx-background-color: -fx-table-cell-border-color, #ccccff;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
}
SpreadsheetCell:modified{
	-fx-background-radius : 0 15 0 0;
}

/* ROW HEADER */
 RowHeader > Label,
 TableColumnHeader > Label,
SpreadsheetCell.fixed {
   -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-padding: 0.166667em;
    -fx-alignment: center;
}  

RowHeader > Label.selected,
TableColumnHeader > Label.selected,
Label.selected{
   -fx-background-color: -fx-box-border, -fx-inner-border,  #ffd700;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-padding: 0.166667em;
    -fx-alignment: center;
}  
    


