.popup-editor  {
	-fx-background-color: transparent;
	-fx-padding: 0.0;
}

.popup-editor > .border {
	-fx-stroke: linear-gradient(to bottom, rgb(217,217,217), rgb(157, 157, 157)) ;
	-fx-stroke-width: 0.5;
	-fx-fill: rgba(255.0,255.0,255.0, .95);
	-fx-effect: dropshadow(gaussian, lightgray, 6.0, 0.0, 1.0, 1.0);
}

.popup-editor > .content > .header {
	-fx-padding: 10.0 0.0 10.0 10.0;
	-fx-font-weight: bold;
	-fx-border-color: transparent transparent lightgray transparent;
	-fx-border-insets: 0.0 10.0 0.0 10.0;
}

.popup-editor > .content > .header > .title {
	-fx-padding: 0;
	-fx-text-fill: green;
	-fx-font-size: 16.0px;
	-fx-background-color: null;
	-fx-border-color: null;
}

.popup-editor  > .content > .header > .subtitle {
	-fx-padding: 0;
	-fx-text-fill: gray ;
	-fx-background-color: null;
	-fx-border-color: null;
}

.popup-editor  > .content > .header > .color-picker {
	-fx-background-color: null;
	-fx-color-label-visible: false;	
}

.popup-editor  > .content > .footer {
	-fx-padding: 10.0 10.0 10.0 10.0;
}

.popup-editor  > .content > .accordion > .titled-pane > .title > .arrow-button .arrow {
    -fx-opacity: 0.0;
}

.arrow-button {
	-fx-pref-width: 0.0;	
	-fx-pref-height: 0.0;	
}

.popup-editor  > .content > .accordion > .titled-pane {
	-fx-background-color: transparent;
	-fx-animated: true;
	-fx-text-fill: gray;
}

.popup-editor  > .content > .accordion > .titled-pane > .title {
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent transparent transparent;
	-fx-border-insets: 1.0 10.0 1.0 10.0;
}

.popup-editor  > .content > .accordion > .titled-pane:collapsed > .title {
	-fx-border-color: transparent transparent lightgray transparent;
	-fx-border-style: dashed;
}

.popup-editor  > .content > .accordion > .titled-pane > .content {
	-fx-background-color: transparent;
	-fx-border-color: null;
	-fx-padding: 20.0;
}

.popup-editor  > .content > .accordion > .titled-pane > .title > .arrow-button > .arrow {
	-fx-pref-width: 0.0;
	-fx-pref-height: 0.0;
}

.popup-editor  > .content > .accordion > .titled-pane:expanded > .content {
	-fx-background-color: rgba(240.0,240.0,240.0, 0.95);
 	-fx-effect: innershadow(gaussian, lightgray, 6.0, 0.0, 0, 0);
}

.summary-text {
	-fx-text-fill: gray;
}

.detached-root {
	-fx-background-color: white;
}