.progress-dialog.dialog-pane {
    -fx-graphic: url("dialog-information.png");
}

.font-selector-dialog.dialog-pane,
.login-dialog.dialog-pane,
.command-links-dialog.dialog-pane {
    -fx-graphic: url("dialog-confirm.png");
}

.exception-dialog.dialog-pane {
    -fx-graphic: url("dialog-error.png");
}