

/*******************************************************************************
 *                                                                             *
 * RangeSlider                                                                 *
 *                                                                             *
 ******************************************************************************/


.range-slider > .low-thumb, .range-slider > .high-thumb{
    -fx-background-color:
        derive(-fx-color,-36%),
        derive(-fx-color,73%),
        linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 0.583333em; /* 7 */
}

.range-slider > .low-thumb:focused, .range-slider > .high-thumb:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color:
        -fx-focus-color,
        derive(-fx-color,-36%),
        derive(-fx-color,73%),
        linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}

.range-slider > .low-thumb:hover, .range-slider > .high-thumb:hover {
    -fx-color: -fx-hover-base;
}

.range-slider > .range-bar {
    -fx-background-color: -fx-focus-color;
}

/* Uncomment when RT-10521 is fixed.
.slider .thumb:pressed {
    -fx-color: -fx-pressed-base;
}
*/

.range-slider > .track {
    -fx-background-color:
        -fx-shadow-highlight-color,
        derive(-fx-color,-22%),
        linear-gradient(to bottom, derive(-fx-color,-15.5%), derive(-fx-color,34%) 30%, derive(-fx-color,68%));
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.range-slider:vertical > .track {
    -fx-background-color:
        -fx-shadow-highlight-color,
        derive(-fx-color,-22%),
        linear-gradient(to right, derive(-fx-color,-15.5%), derive(-fx-color,34%) 30%, derive(-fx-color,68%));
    -fx-background-insets: 0 -1 0 1, 0, 1;
}

.range-slider > .axis {
    -fx-tick-mark-stroke: ladder(-fx-background, derive(-fx-background,30%) 40%, derive(-fx-background,-30%) 41%);
    -fx-tick-label-font: 0.833333em System; 
    -fx-tick-label-fill: -fx-text-background-color;
}

.range-slider:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
