.root {
    -fx-padding: 5 5 5 5;
}

.search-box {
}

.samples-tree {
    
}

.right-panel {
    -fx-padding: 5;
}

.right-panel > .sample-name {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.right-panel > .separator {
    -fx-padding: 5 0 5 0;
}

.right-panel > .description {
    -fx-text-alignment: justify;
}

.right-panel > * > .project-name-title {
    -fx-font-weight: bold;
}

.right-panel > * > .project-name {
    -fx-text-alignment: justify;
}

/* 
 * The area beneath the description specifically to allow people to interact with
 * the sample.
 */
.right-panel > .control-panel {
    -fx-padding: 5 0 0 0;
}
